<header class="main-header">
  <div class="container">
    <a href="index.html" class="header-logo">Georiego</a>
    
    <nav class="header-nav">
      <a href="index.html">Inicio</a>
      <a href="soluciones.html">Soluciones</a>
      <a href="productos.html">Productos</a>
      <a href="proyectos.html">Proyectos</a>
      <a href="#">Blog</a>
      <a href="nosotros.html">Nosotros</a>
    </nav>
    <a href="#" class="header-cta">Contacto</a>
    
    <button class="header-hamburger" id="hamburger-button">
      <svg id="menu-open-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
      <svg id="menu-close-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" style="display: none;">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
  
  <div class="mobile-menu" id="mobile-menu">
    <a href="index.html">Inicio</a>
    <a href="soluciones.html">Soluciones</a>
    <a href="productos.html">Productos</a>
    <a href="proyectos.html">Proyectos</a>
    <a href="#">Blog</a>
    <a href="nosotros.html">Nosotros</a>
    <a href="#" class="mobile-cta">Contacto</a>
  </div>
</header>